body#mainpage{
  margin: 0px;
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url('../img/bgd.jpg');
  background-size: cover;
}

/* .spacer{
  height: 100px;
} */



#title{
  text-align: center;
}

#btnPlay{
  text-align:center;
}

#fileLink{
  /* display: none; */
  visibility: hidden;
  opacity: 0;

}

form{
  margin-top: 30px;
  margin-bottom: 15px;
  text-align:center;
}

#fileLink {
  margin-top: 40px;
  margin-bottom: 40px !important;
}
body#container {
  height: 100vh;
  width: 100%;

}

#mainContent {
  margin-top: 20vh;
  position: relative;
  height: 80vh;
  width: 100%;
}

div.syllable {
  width: 50px;
  height: 50px;
  background-color: red;
  position: fixed;
  top: 100px;
  left: 100px;
}

/*Overlay win word round*/
#overlay-con {
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(230, 230, 255, 0.6);
  position: absolute;
  justify-content: center;
  align-items:  center;
  display: none;

}

#overlay-div{
  border-radius: 15px;
  width: 500px;
  height: 300px;
  box-shadow: 0 0 40px rgba(30,30,30,1);
  background-color: rgba(200,200,200,1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

#overlay-proceed {
  position: absolute;
  bottom: 5px;
}
